{% extends 'base.html' %}

{% block content %}
{% load custom_filters %}

<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }
    th, td {
        border: 1px solid #000;
        padding: 5px;
        text-align: left;
    }
</style>

<h1>{{ datos_semanales.1.1|mes_es }}</h1>

{% for inicio, fin, dias_semana, sitios in datos_semanales %}
    <h2>Semana del {{ inicio|date:"d" }} al {{ fin|date:"d" }}</h2>
    <table>
        <thead>
            <tr>
                <th rowspan="2">Sitio</th>
                <th rowspan="2">Franja Horaria</th>
                {% for dia in dias_semana %}
                    <th>{{ dia|date:"l"|dia_semana_es }} {{ dia|date:"d" }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for sitio, franjas in sitios.items %}
                {% for franja, dias in franjas.items %}
                    <tr>
                        {% if forloop.first %}
                            <td rowspan="{{ franjas|length }}">{{ sitio.nombre }}</td>
                        {% endif %}
                        <td>{{ franja.nombre }}</td>
                        {% for dia_key, dia_info in dias.items %}
                            <td>
                                {% if dia_info.turnos %}
                                    {% for turno in dia_info.turnos %}
                                        {{ turno.capitan }}<br>
                                        {% for asistente in turno.asistentes.all %}
                                            {{ asistente }}<br>
                                        {% endfor %}
                                        <!-- Botón para editar el turno -->
                                        <a href="{% url 'turno_update' turno.id %}">
                                            <button class="edit-turno">Editar Turno</button>
                                        </a>
                                    {% endfor %}
                                {% else %}
                                    <!-- Botón para crear un nuevo turno -->
                                    <span>Fecha: {{ dia_info.fecha|date:"Y-m-d" }}</span><br>
                                    <a href="{% url 'turno_create' %}?fecha={{ dia_info.fecha }}">
                                        <button class="create-turno">Crear Turno</button>
                                    </a>
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
{% endfor %}
{% endblock %}
