{% extends 'base.html' %}

{% block content %}
{% load custom_filters %}

<style>
    table {
        border-collapse: collapse;
        width: 100%;
        margin-bottom: 20px;
    }
    th, td {
        border: 1px solid #ddd;
        padding: 10px;
        text-align: left;
    }
    th {
        background-color: #f4f4f4;
    }
    .navigation {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    .edit-turno, .create-turno {
        background-color: #007bff;
        color: white;
        border: none;
        padding: 5px 10px;
        text-decoration: none;
        border-radius: 5px;
        cursor: pointer;
    }
    .edit-turno:hover, .create-turno:hover {
        background-color: #0056b3;
    }

    .franja-1, .turnos-franja-1 {
        background-color: #ffffff;
        font-weight: bolder;
        text-align: center; 
    }
    .franja-2, .turnos-franja-2 {
        background-color: #ff9900;
        font-weight: bolder;
        text-align: center; 
    }
    .franja-3, .turnos-franja-3 {
        background-color: #dac7b3;
        font-weight: bolder;
        text-align: center; 
    }
    .franja-4, .turnos-franja-4 {
        background-color: #fff3cd;
        font-weight: bolder;
        text-align: center; 
    }
    .sitio-1 {
        background-color: #93c47d; /* Verde */
        font-weight: bolder;
        text-align: center;

    }
    .sitio-2 {
        background-color: #c9daf8; /* Celeste */
        font-weight: bolder;
        text-align: center;
     
    }
   
    .sitio-3 {
        background-color: #7f6000; /* Marrón */
        font-weight: bolder;
        text-align: center;
        
    }
    .sitio-4 {
        background-color: #ffd966; /* Ocre */
        font-weight: bolder;
        text-align: center;
        
    }
    th {
    background-color: #a2c4c9;
    font-weight: bolder;
    text-align: center;
   
}

</style>



<div class="navigation">
    <a href="{% url 'turnos_por_semana' prev_year prev_month %}">&laquo; {{ prev_month|month_name_filter }} {{ prev_year }}</a>
    <h1>{{ month_name }} {{ year }}</h1>
    <a href="{% url 'turnos_por_semana' next_year next_month %}">{{ next_month|month_name_filter }} {{ next_year }} &raquo;</a>
</div>

{% for inicio, fin, dias_semana, sitios in datos_semanales %}
    <h2>Semana del {{ inicio|date:"d" }} al {{ fin|date:"d" }}</h2>
    <pre>{{datos_semanales}}</pre>
    <table>
        <thead>
            <tr>
                <th rowspan="2">Sitio</th>
                <th rowspan="2">Franja Horaria</th>
                {% for dia in dias_semana %}
                    <th>{{ dia|date:"l"|dia_semana_es }}<br>{{ dia|date:"d/m" }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for sitio, franjas in sitios.items %}
                {% for franja, dias in franjas.items %}
                    <tr>
                        {% if forloop.first %}
                            <td rowspan="{{ franjas|length }}" class="sitio-{{ sitio.id }}">{{ sitio.nombre }}</td>
                        {% endif %}
                        <td class="franja-{{ franja.id }}">{{ franja.nombre }}</td>
                        {% for dia_key, dia_info in dias.items %}
                            <td class="turnos-franja-{{ franja.id }}">
                                {% if dia_info.turnos %}
                                    {% for turno in dia_info.turnos %}
                                        <strong>fecha</strong> {{ turno.fecha }}<br>
                                        <strong>Capitán:</strong> {{ turno.capitan }}<br>
                                        <strong>Asistentes:</strong><br>
                                        {% for asistente in turno.asistentes.all %}
                                            - {{ asistente }}<br>
                                        {% endfor %}
                                        <a href="{% url 'turno_update' turno.id %}">
                                            <button class="edit-turno">Editar Turno</button>
                                        </a>
                                           <!-- Botón Eliminar Turno (ahora redirige a la vista de confirmación) -->
                                        <a href="{% url 'turno_delete' turno.id %}">
                                            <button class="delete-turno">Eliminar Turno</button>
                                        </a>
                                        <hr>
                                    {% endfor %}
                                {% else %}
                                    <span>No hay turnos</span><br>
                                    <a href="{% url 'turno_create' %}?fecha={{ dia_info.fecha|date:'Y-m-d' }}&sitio={{ sitio.id }}&franja={{ franja.id }}&dia_semana={% if dia_info.fecha|date:'w' == '0' %}7{% else %}{{ dia_info.fecha|date:'w' }}{% endif %}">
                                        <button class="create-turno">Crear Turno</button>
                                    </a>
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
{% endfor %}
{% endblock %}
