{% extends 'base.html' %}

{% block content %}
  <h1>Detalles de la Disponibilidad</h1>
  <dl>
    <dt>Persona:</dt>
    <dd>{{ object.persona.nombre }}</dd>

    <dt>Turno:</dt>
    <dd>{{ object.turno.nombre }}</dd>

    <dt>Sitio:</dt>
    <dd>{{ object.sitio.nombre }}</dd>
  </dl>

  <a href="{% url 'disponibilidad_list' %}">Volver a la lista de disponibilidades</a>
  <a href="{% url 'disponibilidad_update' object.pk %}">Editar</a>
  <a href="{% url 'disponibilidad_confirm_delete' object.pk %}">Eliminar</a>
{% endblock %}
